<div class="login-container">
  <mat-card class="login-card">

    <div class="login-header">
      <mat-icon class="login-icon">directions_car</mat-icon>
      <h2 class="login-title">Acceso al Parqueadero</h2>
    </div>

    <form [formGroup]="loginForm" (ngSubmit)="login()">

      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Usuario</mat-label>
        <input matInput type="text" formControlName="username" required />
      </mat-form-field>

      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Contraseña</mat-label>
        <input matInput type="password" formControlName="password" required />
      </mat-form-field>

      <button mat-raised-button color="primary" type="submit" [disabled]="loginForm.invalid">
        Ingresar
      </button>

      <p *ngIf="errorMessage" class="error">{{ errorMessage }}</p>
    </form>
  </mat-card>
</div>
